/* 全体のスタイル */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

/* ヘッダー */
.header {
  background-color: #333;
  color: #fff;
  padding: 1rem 0;
  text-align: center;
}

.header-title {
  margin: 0;
  font-size: 2.5rem;
  text-align: left;
}

.nav-list {
  list-style: none;
  padding: 0;
}

.nav-item {
  display: inline;
  margin: 0 1rem;
  font-size: 1.2rem;
  cursor: pointer;
}

.nav-item:hover {
  color: #1e90ff;
}

/* 自己紹介 */
.about {
  background-color: #fff;
  padding: 0.5rem;
  margin: 1rem 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: center;
}

.section-title {
  color: #333;
  font-size: 2rem;
}

.profile-image {
  width: 700px;
  height: 500px;
  margin-bottom: 1rem;
}

.about-text {
  margin: 0.5rem 0;
}

/* ポートフォリオ */
.portfolio {
  background-color: #fff;
  padding: 0.5em;
  margin: 1rem 0;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.portfolio-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.portfolio-item {
  text-align: center;
  box-sizing: border-box;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  margin: 0.5rem;
}

.portfolio-image {
  width: 300px;
  height: 200px;
  border-radius: 8px;
}

.portfolio-title {
  color: #1e90ff;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.portfolio-description {
  margin: 0;
}

/* フッター */
.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1px;
  bottom: 0;
  width: 100%;
}
